.App {
  text-align: center;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-header nav {
  width: 100%;
}

.App-header ul {
  list-style: none;
  display: flex;
}

.App-header ul li {
  padding: .5em;
}

.App-header a {
  color: #61dafb;
}

a {
  color: #282c34;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.two-columns > *  {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.two-columns .menu-column {
  flex: 1;
}

.two-columns .content-column {
  flex: 2;
}

.no-list {
  list-style-type: none;
}

.no-list > li {
  min-height: 3em;
}

.active {
  font-weight: bold;
}